<div class="jumbotron text-center">
	<h1>Welcome to Word Hoarder!</h1>
	<p class="lead">A web application that allows to learn new words easier.</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
</div>

<!-- <div id="home">
	<p ng-show="reg">success reg: {{ msg }}</p>
	<p ng-show="log">success log: {{ msg }}</p>
	<form>
		<input type="email" name="email" placeholder="email@gmail.com" ng-model="user.email">
		<input type="password" name="password" placeholder="password" ng-model="user.password">
		<button class="btn btn-default" ng-click="register(user)">Register</button>
		<button class="btn btn-default" ng-click="login(user)">login</button>
		<button class="btn btn-default" ng-click="logout()">logout</button>
	</form>
	<p ng-show="loggedIn()">{{loggedInMsg}}</p>
	<p ng-hide="loggedIn()">{{loggedOutMsg}}</p>
</div> -->