<div id="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Log In</h1>	
		<form>
			<div class="form-group">
			  <label class="sr-only" for="emailInput">Email address</label>
			  <input type="email" class="form-control" id="emailInput" placeholder="email" ng-model="user.email">
			</div>
			<div class="form-group">
			  <label class="sr-only" for="passwordInput">Password</label>
				<input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="user.password">
			</div>
			<button class="btn btn-default" ng-click="login(user)">login</button>
		</form>
	</div>
</div>