<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Your Vocabulary</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
				  <input class="form-control" id="searchBox" type="text" placeholder="Search words..." ng-model="search.word">
				</div>
			</div>
		</div>

		<div ng-show="allWords.length === 0">
			<h3>Appears like you have no words yet... :(</h3>
			<p class="lead">You should <a href="#/add">add</a> some!</p>
		</div>
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="data in allWords | filter: search: strict ">
		  	<p class="text-uppercase"><b>{{ data.word }}</b>
		  		<button class="pull-right btn btn-default btn-xs" ng-click="deleteWord(data, $index)"><span class="glyphicon glyphicon-remove"></span>DELETE</button>
		  		<a href='#/edit' class="pull-right btn btn-default btn-xs" ng-click="edit($index)"><span class="glyphicon glyphicon-pencil"> </span>EDIT</a>
		  	</p>
		  	<p>{{ data.definition }}</p>

		  </li>
		</ul>
	</div>
</div>